*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--body-bg);
  color: var(--body-text);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--body-text);
}

:root {
  --body-bg: #fff;
  --body-text: #22343D;
  --logo-text: #173A56;
}

.dark-body {
  --body-bg: #1F2E35;
  --body-text: #fff;
  --logo-text: #fff;

  .quick__container {
    background-image: url("../../img/black.png");
  }

  .quick__think--woman {
    background-color: #fff;
    color: #1F2E35;
  }

  .quick__think--boy {
    background-color: #fff;
    color: #1F2E35;
  }

  .quick__think--old {
    background-color: #fff;
    color: #1F2E35;
  }

  .quick__think--man {
    background-color: #fff;
    color: #1F2E35;
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}